section{
    height: 400px;
    width: 400px;
    background-color: aquamarine;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 3px solid black;
    justify-content: space-around;
    flex-wrap: wrap;
}
div{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border: 2px solid black;
   margin: 10px;
   text-align: center;
   font-size: 50px;
}