body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    color: blue;
}

h2 {
    color: darkgreen;
}

h3 {
    color: purple;
}

p {
    font-size: 16px;
    color: #333;
}

ul {
    list-style-type: square;
}

button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: darkgreen;
}
